.about {
  background-color: color(primary);
  height: 90vh;
  text-align: center;
  @media (max-width: 800px) {
    height: auto;
    padding-bottom: 80px;
  }
  &-heading {
    color: white;
    font-family: $font-poiret;
    font-size: size(xl) * 1.5;
    padding-top: 40px;
    text-transform: uppercase;
    @media (max-width: 800px) {
      font-size: size(xl);
    }
  }
  &-text {
    color: white;
    font-family: $font-raleway;
    font-size: size(sm);
    padding: 20px 250px 0px 250px;
    letter-spacing: 1px;
    line-height: 1.2;
    @media (max-width: 800px) {
      padding: 50px 100px 50px 100px;
    }
  }
}
