// VARIABLES

$colors: (
  primary: #011526,
  secondary: #013440,
  tertiary: #012623,
  quaternary: #bf344d,
);

@function color($color-name) {
  @return map-get($colors, $color-name);
}

$font-sizes: (
  xl: 3.5rem,
  lg: 3rem,
  md: 2rem,
  sm: 1.5rem,
  xs: 1.2rem,
);

@function size($size) {
  @return map-get($font-sizes, $size);
}

$font-fredoka: "Fredoka One", sans-serif;
$font-sacramento: "Sacramento", sans-serif;
$font-poiret: "Poiret One", sans-serif;
$font-raleway: "Raleway", sans-serif;
