.slider {
  grid-area: 2/2/-1/5;
  display: grid;
  height: 75vh;
  grid-template-rows: 5fr 0.8fr 5fr;
  grid-template-columns: 1fr 10fr 1fr;
  &-img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
  &-arrowRight {
    grid-area: 2/3/3/-1;
    height: 100%;
    width: 100%;
    color: white;
    cursor: pointer;
    user-select: none;
  }
  &-arrowLeft {
    grid-area: 2/1/3/2;
    height: 100%;
    width: 100%;
    color: white;
    cursor: pointer;
    user-select: none;
  }
}

.slide {
  grid-area: 1/2/-1/3;
  padding-bottom: 60px;
}
