/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}

body {
  line-height: 1;
}

ol,
ul {
  list-style: none;
}

blockquote,
q {
  quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

* {
  scroll-behavior: smooth;
}

.home-section1 {
  background-color: #011526;
  text-align: center;
  height: 100vh;
  display: -ms-grid;
  display: grid;
  -ms-grid-rows: 1fr 1.5fr 0.5fr 1fr;
      grid-template-rows: 1fr 1.5fr 0.5fr 1fr;
  -ms-grid-columns: (1fr)[6];
      grid-template-columns: repeat(6, 1fr);
}

@media (max-width: 600px) {
  .home-section1 {
    height: auto;
  }
}

.home-section1-heading {
  -ms-grid-row: 1;
  -ms-grid-row-span: 1;
  -ms-grid-column: 2;
  -ms-grid-column-span: 4;
  grid-area: 1/2/2/6;
  color: white;
  font-family: "Poiret One", sans-serif;
  font-size: 3.5rem;
  font-weight: bolder;
  padding-top: 200px;
  text-transform: uppercase;
}

@media (max-width: 1200px) {
  .home-section1-heading {
    padding-top: 100px;
  }
}

@media (max-width: 600px) {
  .home-section1-heading {
    height: auto;
    font-size: 3rem;
  }
}

@media (max-width: 430px) {
  .home-section1-heading {
    font-size: 2rem;
  }
}

.home-section1-text {
  -ms-grid-row: 2;
  -ms-grid-row-span: 1;
  -ms-grid-column: 2;
  -ms-grid-column-span: 4;
  grid-area: 2/2/3/6;
  color: white;
  font-family: "Raleway", sans-serif;
  font-size: 1.8rem;
  padding-top: 30px;
  letter-spacing: 1px;
  line-height: 1.2;
}

@media (max-width: 430px) {
  .home-section1-text {
    -ms-grid-row: 2;
    -ms-grid-row-span: 1;
    -ms-grid-column: 2;
    -ms-grid-column-span: 4;
    grid-area: 2/2/3/6;
    font-size: 1.5rem;
    padding: 0px 50px 0px 50px;
  }
}

.home-section1-btn1 {
  -ms-grid-row: 3;
  -ms-grid-row-span: 1;
  -ms-grid-column: 3;
  -ms-grid-column-span: 1;
  grid-area: 3/3/4/4;
  position: relative;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  width: 180px;
  height: 55px;
  margin: 0 15px;
  -webkit-perspective: 1000px;
          perspective: 1000px;
}

@media (max-width: 430px) {
  .home-section1-btn1 {
    width: 150px;
  }
}

.home-section1-btn1 a {
  font-size: 19px;
  letter-spacing: 1px;
  -webkit-transform-style: preserve-3d;
          transform-style: preserve-3d;
  -webkit-transform: translateZ(-25px);
          transform: translateZ(-25px);
  -webkit-transition: -webkit-transform 0.25s;
  transition: -webkit-transform 0.25s;
  transition: transform 0.25s;
  transition: transform 0.25s, -webkit-transform 0.25s;
  font-family: "Raleway", sans-serif;
  font-weight: bold;
}

.home-section1-btn1 a:before,
.home-section1-btn1 a:after {
  text-transform: uppercase;
  position: absolute;
  content: "Projekter";
  height: 55px;
  width: 180px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  border: 4px solid white;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  border-radius: 3px;
}

@media (max-width: 430px) {
  .home-section1-btn1 a:before,
  .home-section1-btn1 a:after {
    width: 150px;
  }
}

.home-section1-btn1 a:before {
  color: #fff;
  -webkit-transform: rotateY(0deg) translateZ(25px);
          transform: rotateY(0deg) translateZ(25px);
}

.home-section1-btn1 a:after {
  color: white;
  -webkit-transform: rotateX(90deg) translateZ(25px);
          transform: rotateX(90deg) translateZ(25px);
}

.home-section1-btn1 a:hover {
  -webkit-transform: translateZ(-25px) rotateX(-90deg);
          transform: translateZ(-25px) rotateX(-90deg);
}

@media (max-width: 800px) {
  .home-section1-btn1 {
    padding-top: 50px;
  }
}

.home-section1-btn2 {
  -ms-grid-row: 3;
  -ms-grid-row-span: 1;
  -ms-grid-column: 4;
  -ms-grid-column-span: 1;
  grid-area: 3/4/4/5;
  position: relative;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  width: 180px;
  height: 55px;
  margin: 0 15px;
  -webkit-perspective: 1000px;
          perspective: 1000px;
}

@media (max-width: 430px) {
  .home-section1-btn2 {
    width: 150px;
  }
}

.home-section1-btn2 a {
  font-size: 19px;
  letter-spacing: 1px;
  -webkit-transform-style: preserve-3d;
          transform-style: preserve-3d;
  -webkit-transform: translateZ(-25px);
          transform: translateZ(-25px);
  -webkit-transition: -webkit-transform 0.25s;
  transition: -webkit-transform 0.25s;
  transition: transform 0.25s;
  transition: transform 0.25s, -webkit-transform 0.25s;
  font-family: "Raleway", sans-serif;
  font-weight: bold;
}

.home-section1-btn2 a:before,
.home-section1-btn2 a:after {
  text-transform: uppercase;
  position: absolute;
  content: "Kontakt";
  height: 55px;
  width: 180px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  border: 4px solid white;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  border-radius: 3px;
}

@media (max-width: 430px) {
  .home-section1-btn2 a:before,
  .home-section1-btn2 a:after {
    width: 150px;
  }
}

.home-section1-btn2 a:before {
  color: #fff;
  -webkit-transform: rotateY(0deg) translateZ(25px);
          transform: rotateY(0deg) translateZ(25px);
}

.home-section1-btn2 a:after {
  color: white;
  -webkit-transform: rotateX(90deg) translateZ(25px);
          transform: rotateX(90deg) translateZ(25px);
}

.home-section1-btn2 a:hover {
  -webkit-transform: translateZ(-25px) rotateX(-90deg);
          transform: translateZ(-25px) rotateX(-90deg);
}

@media (max-width: 800px) {
  .home-section1-btn2 {
    padding-top: 50px;
  }
}

.home-section2 {
  height: auto;
  background-color: #011526;
}

.home-section2-heading {
  -ms-grid-row: 1;
  -ms-grid-row-span: 1;
  -ms-grid-column: 3;
  -ms-grid-column-span: 1;
  grid-area: 1/3/2/4;
  font-family: "Poiret One", sans-serif;
  font-size: 4.2rem;
  color: white;
  text-align: center;
  padding-top: 60px;
  text-transform: uppercase;
}

@media (max-width: 600px) {
  .home-section2-heading {
    font-size: 3rem;
  }
}

@media (max-width: 430px) {
  .home-section2-heading {
    font-size: 2rem;
  }
}

.header {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 3fr 2fr;
      grid-template-columns: 1fr 3fr 2fr;
  -ms-grid-rows: 1fr;
      grid-template-rows: 1fr;
  height: 12vh;
  background-color: #011526;
  position: fixed;
  z-index: 10;
}

.logo {
  font-family: "Fredoka One", sans-serif;
  -ms-grid-column: 1;
  -ms-grid-column-span: 1;
  grid-column: 1/2;
  -ms-grid-row: 1;
  -ms-grid-row-span: 1;
  grid-row: 1/2;
  font-size: 2rem;
  padding: 20px;
  z-index: 15;
}

.logo-heading {
  color: #bf344d;
}

.logo-link {
  text-decoration: none;
}

.logo:hover {
  opacity: 0.7;
  -webkit-animation: logo 1s;
          animation: logo 1s;
}

@-webkit-keyframes logo {
  from {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  to {
    -webkit-transform: rotate(5deg);
            transform: rotate(5deg);
  }
}

@keyframes logo {
  from {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  to {
    -webkit-transform: rotate(5deg);
            transform: rotate(5deg);
  }
}

.nav {
  grid-area: 1/3/-1/-1;
  font-family: "Poiret One", sans-serif;
  padding-top: 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.nav-box {
  margin: 0px 30px 100px 30px;
  padding: 10px;
  border-radius: 5px 20px 5px;
}

.nav-box a {
  color: white;
  font-size: x-large;
  text-decoration: none;
}

.nav-box-link {
  color: white;
  font-size: x-large;
  text-decoration: none;
}

.nav-box:hover {
  opacity: 0.5;
}

@media (max-width: 650px) {
  .nav {
    display: none;
  }
}

.footer {
  height: 50vh;
  background-color: #012623;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr 1fr;
      grid-template-columns: 1fr 1fr 1fr;
  -ms-grid-rows: 1fr 0.1fr;
      grid-template-rows: 1fr 0.1fr;
  color: white;
  font-family: raleway;
}

@media (max-width: 600px) {
  .footer {
    height: auto;
    -ms-grid-columns: 1fr;
        grid-template-columns: 1fr;
    -ms-grid-rows: 1fr 1fr 0.5fr;
        grid-template-rows: 1fr 1fr 0.5fr;
  }
}

.footer-contact {
  font-size: 1.2rem;
  padding: 80px;
}

@media (max-width: 600px) {
  .footer-contact {
    padding: 40px 80px 40px 80px;
  }
}

.footer-contact-item {
  padding: 5px 0px 5px 0px;
}

.footer-contact-item a {
  text-decoration: none;
  color: white;
}

.footer-contact-item a:hover {
  opacity: 0.5;
}

.footer-menu {
  grid-area: 1/3/-1/-1;
  font-size: 1.2rem;
  padding: 80px;
}

@media (max-width: 600px) {
  .footer-menu {
    -ms-grid-row: 2;
    -ms-grid-row-span: 1;
    grid-area: 2/1/3/-1;
    padding: 0px 80px 0px 80px;
  }
}

.footer-menu-item {
  padding: 5px 0px 5px 0px;
}

.footer-menu-item-link {
  text-decoration: none;
  color: white;
}

.footer-menu-item-link:hover {
  opacity: 0.8;
}

.footer-social {
  -ms-grid-column: 1;
  -ms-grid-column-span: 1;
  grid-area: 2/1/-1/2;
  padding-left: 80px;
  z-index: 10;
}

@media (max-width: 600px) {
  .footer-social {
    grid-area: 3/1/-1/-1;
  }
}

.footer-social a {
  color: white;
  font-size: 2rem;
  padding-right: 10px;
}

.footer-social a:hover {
  opacity: 0.8;
}

.slider {
  -ms-grid-column: 2;
  -ms-grid-column-span: 3;
  grid-area: 2/2/-1/5;
  display: -ms-grid;
  display: grid;
  height: 75vh;
  -ms-grid-rows: 5fr 0.8fr 5fr;
      grid-template-rows: 5fr 0.8fr 5fr;
  -ms-grid-columns: 1fr 10fr 1fr;
      grid-template-columns: 1fr 10fr 1fr;
}

@media (max-width: 600px) {
  .slider {
    height: 50vh;
  }
}

@media (max-width: 450px) {
  .slider {
    height: 40vh;
  }
}

.slider-img {
  padding-top: 40px;
  width: 100%;
  height: 100%;
  -o-object-fit: contain;
     object-fit: contain;
}

.slider-arrowRight {
  -ms-grid-row: 2;
  -ms-grid-row-span: 1;
  grid-area: 2/3/3/-1;
  height: 100%;
  width: 100%;
  color: white;
  cursor: pointer;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}

.slider-arrowRight:hover {
  opacity: 0.5;
}

.slider-arrowLeft {
  -ms-grid-row: 2;
  -ms-grid-row-span: 1;
  -ms-grid-column: 1;
  -ms-grid-column-span: 1;
  grid-area: 2/1/3/2;
  height: 100%;
  width: 100%;
  color: white;
  cursor: pointer;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}

@media (max-width: 800px) {
  .slider-arrowLeft {
    padding-right: 20px;
  }
}

.slider-arrowLeft:hover {
  opacity: 0.5;
}

.slide {
  -ms-grid-column: 2;
  -ms-grid-column-span: 1;
  grid-area: 1/2/-1/3;
  padding-bottom: 60px;
  opacity: 0;
  -webkit-transition-duration: 1s ease;
          transition-duration: 1s ease;
}

.slide.active {
  opacity: 1;
  -webkit-transition-duration: 1s;
          transition-duration: 1s;
  -webkit-transform: scale(1.05);
          transform: scale(1.05);
}

.gallery {
  background-color: #011526;
  display: -ms-grid;
  display: grid;
  height: 80vh;
  gap: 40px;
  -ms-grid-columns: (1fr)[4];
      grid-template-columns: repeat(4, 1fr);
  -ms-grid-rows: (1fr)[3];
      grid-template-rows: repeat(3, 1fr);
  padding: 100px;
}

@media (max-width: 1400px) {
  .gallery {
    height: auto;
    -ms-grid-columns: (1fr)[2];
        grid-template-columns: repeat(2, 1fr);
    -ms-grid-rows: (1fr)[3];
        grid-template-rows: repeat(3, 1fr);
    gap: 20px;
  }
}

@media (max-width: 1000px) {
  .gallery {
    -ms-grid-columns: 1fr;
        grid-template-columns: 1fr;
    -ms-grid-rows: (1fr)[6];
        grid-template-rows: repeat(6, 1fr);
    gap: 20px;
  }
}

@media (max-width: 450px) {
  .gallery {
    padding: 40px;
  }
}

.gallery div:nth-of-type(1) {
  width: 100%;
  height: 100%;
  grid-row: span 2;
  grid-column: span 2;
}

@media (max-width: 1400px) {
  .gallery div:nth-of-type(1) {
    -ms-grid-row: 1;
    -ms-grid-row-span: 1;
    -ms-grid-column: 1;
    -ms-grid-column-span: 1;
    grid-area: 1/1/2/2;
  }
}

@media (max-width: 1000px) {
  .gallery div:nth-of-type(1) {
    -ms-grid-row: 1;
    -ms-grid-row-span: 1;
    -ms-grid-column: 1;
    -ms-grid-column-span: 1;
    grid-area: 1/1/2/2;
  }
}

.gallery div:nth-of-type(2) {
  -ms-grid-row: 3;
  -ms-grid-row-span: 1;
  -ms-grid-column: 1;
  -ms-grid-column-span: 1;
  grid-area: 3/1/4/2;
}

@media (max-width: 1400px) {
  .gallery div:nth-of-type(2) {
    -ms-grid-row: 1;
    -ms-grid-row-span: 1;
    -ms-grid-column: 2;
    -ms-grid-column-span: 1;
    grid-area: 1/2/2/3;
  }
}

@media (max-width: 1000px) {
  .gallery div:nth-of-type(2) {
    -ms-grid-row: 2;
    -ms-grid-row-span: 1;
    -ms-grid-column: 1;
    -ms-grid-column-span: 1;
    grid-area: 2/1/3/2;
  }
}

.gallery div:nth-of-type(3) {
  -ms-grid-row: 3;
  -ms-grid-row-span: 1;
  -ms-grid-column: 2;
  -ms-grid-column-span: 1;
  grid-area: 3/2/4/3;
}

@media (max-width: 1400px) {
  .gallery div:nth-of-type(3) {
    -ms-grid-row: 2;
    -ms-grid-row-span: 1;
    -ms-grid-column: 1;
    -ms-grid-column-span: 1;
    grid-area: 2/1/3/2;
  }
}

@media (max-width: 1000px) {
  .gallery div:nth-of-type(3) {
    -ms-grid-row: 3;
    -ms-grid-row-span: 1;
    -ms-grid-column: 1;
    -ms-grid-column-span: 1;
    grid-area: 3/1/4/2;
  }
}

.gallery div:nth-of-type(4) {
  -ms-grid-row: 1;
  -ms-grid-row-span: 1;
  -ms-grid-column: 3;
  -ms-grid-column-span: 1;
  grid-area: 1/3/2/4;
}

@media (max-width: 1400px) {
  .gallery div:nth-of-type(4) {
    -ms-grid-row: 2;
    -ms-grid-row-span: 1;
    -ms-grid-column: 2;
    -ms-grid-column-span: 1;
    grid-area: 2/2/3/3;
  }
}

@media (max-width: 1000px) {
  .gallery div:nth-of-type(4) {
    -ms-grid-row: 4;
    -ms-grid-row-span: 1;
    -ms-grid-column: 1;
    -ms-grid-column-span: 1;
    grid-area: 4/1/5/2;
  }
}

.gallery div:nth-of-type(5) {
  -ms-grid-row: 1;
  -ms-grid-row-span: 1;
  -ms-grid-column: 4;
  -ms-grid-column-span: 1;
  grid-area: 1/4/2/5;
}

@media (max-width: 1400px) {
  .gallery div:nth-of-type(5) {
    -ms-grid-row: 3;
    -ms-grid-row-span: 1;
    -ms-grid-column: 1;
    -ms-grid-column-span: 1;
    grid-area: 3/1/4/2;
  }
}

@media (max-width: 1000px) {
  .gallery div:nth-of-type(5) {
    -ms-grid-row: 5;
    -ms-grid-row-span: 1;
    -ms-grid-column: 1;
    -ms-grid-column-span: 1;
    grid-area: 5/1/6/2;
  }
}

.gallery div:last-of-type {
  grid-row: span 2;
  grid-column: span 2;
}

@media (max-width: 1400px) {
  .gallery div:last-of-type {
    -ms-grid-row: 3;
    -ms-grid-row-span: 1;
    -ms-grid-column: 2;
    -ms-grid-column-span: 1;
    grid-area: 3/2/4/3;
  }
}

@media (max-width: 1000px) {
  .gallery div:last-of-type {
    -ms-grid-row: 6;
    -ms-grid-row-span: 1;
    -ms-grid-column: 1;
    -ms-grid-column-span: 1;
    grid-area: 6/1/7/2;
  }
}

.gallery-img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
  -webkit-filter: brightness(80%);
          filter: brightness(80%);
}

.gallery-img:hover {
  -webkit-filter: brightness(100%);
          filter: brightness(100%);
  -webkit-transform: scale(1.02);
          transform: scale(1.02);
  -webkit-box-shadow: 0px 0px 5px 2px #222222;
          box-shadow: 0px 0px 5px 2px #222222;
}

.__react_modal_image__medium_img {
  width: 80%;
  height: 80%;
  -o-object-fit: contain;
     object-fit: contain;
}

.work-section {
  height: auto;
  background-color: #011526;
  padding: 100px 0px 80px 0px;
}

.project {
  padding: 0px 80px 50px 80px;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr;
      grid-template-columns: 1fr 1fr;
  -ms-grid-rows: 1fr 1fr 3fr 1fr;
      grid-template-rows: 1fr 1fr 3fr 1fr;
}

@media (max-width: 1150px) {
  .project {
    -ms-grid-columns: 1fr;
        grid-template-columns: 1fr;
    -ms-grid-rows: 1fr 4fr 1.5fr 1fr;
        grid-template-rows: 1fr 4fr 1.5fr 1fr;
  }
}

@media (max-width: 760px) {
  .project {
    -ms-grid-columns: 1fr;
        grid-template-columns: 1fr;
    -ms-grid-rows: 1fr 3fr 2fr 1fr;
        grid-template-rows: 1fr 3fr 2fr 1fr;
  }
}

@media (max-width: 500px) {
  .project {
    -ms-grid-columns: 1fr;
        grid-template-columns: 1fr;
    -ms-grid-rows: 0.5fr 1fr 1fr 0.5fr;
        grid-template-rows: 0.5fr 1fr 1fr 0.5fr;
    padding: 40px;
  }
}

.project-title {
  grid-area: 2/2/-1/-1;
  font-family: "Poiret One", sans-serif;
  font-size: 3rem;
  color: white;
  padding: 0px 0px 40px 40px;
}

@media (max-width: 1400px) {
  .project-title {
    padding: 0px 40px 40px 40px;
  }
}

@media (max-width: 1150px) {
  .project-title {
    -ms-grid-row: 1;
    -ms-grid-row-span: 1;
    grid-area: 1/1/2/-1;
    padding: 0px 0px 0px 0px;
  }
}

@media (max-width: 500px) {
  .project-title {
    font-size: 2rem;
  }
}

.project-description {
  grid-area: 3/2/-1/-1;
  font-family: "Raleway", sans-serif;
  font-size: 1.5rem;
  color: white;
  padding: 0px 40px 40px 40px;
}

@media (max-width: 1400px) {
  .project-description {
    padding: 0px 40px 40px 40px;
  }
}

@media (max-width: 1150px) {
  .project-description {
    -ms-grid-row: 3;
    -ms-grid-row-span: 1;
    grid-area: 3/1/4/-1;
    padding: 20px 0px 20px 0px;
  }
}

@media (max-width: 500px) {
  .project-description {
    font-size: 1.35rem;
  }
}

.project-link {
  -ms-grid-column: 1;
  -ms-grid-column-span: 1;
  grid-area: 2/1/-1/2;
}

@media (max-width: 1150px) {
  .project-link {
    -ms-grid-row: 2;
    -ms-grid-row-span: 1;
    grid-area: 2/1/3/-1;
  }
}

.project-img {
  width: 100%;
  height: 100%;
  -o-object-fit: contain;
     object-fit: contain;
}

.project-btn {
  grid-area: 4/2/-1/-1;
  font-size: 19px;
  letter-spacing: 1px;
  font-family: "Raleway", sans-serif;
  font-weight: bold;
  border: 2px solid white;
  width: 150px;
  padding: 10px;
  border-radius: 2px;
  text-align: center;
  height: 25px;
  margin: 0px 40px 0px 40px;
}

.project-btn a {
  color: white;
  text-decoration: none;
}

@media (max-width: 1400px) {
  .project-btn {
    margin: 0px 40px 0px 40px;
  }
}

@media (max-width: 1150px) {
  .project-btn {
    -ms-grid-row: 4;
    -ms-grid-row-span: 1;
    grid-area: 4/1/5/-1;
    margin: 0px 0px 0px 0px;
  }
}

.burgermenu {
  display: none;
}

@media (max-width: 650px) {
  .burgermenu {
    display: -ms-grid;
    display: grid;
    grid-area: 1/1/-1/-1;
  }
}

#page-wrap {
  text-align: center;
  overflow: auto;
  top: 45%;
  position: relative;
}

.bm-item {
  display: inline-block;
  /* Our sidebar item styling */
  text-decoration: none;
  margin-bottom: 50px;
  color: #d1d1d1;
  -webkit-transition: color 0.2s;
  transition: color 0.2s;
}

.bm-item:hover {
  color: white;
}

.bm-burger-button {
  position: fixed;
  width: 36px;
  height: 30px;
  right: 36px;
  top: 30px;
}

/* Color/shape of burger icon bars */
.bm-burger-bars {
  background: white;
}

/* Position and sizing of clickable cross button */
.bm-cross-button {
  height: 50px;
  width: 50px;
  color: white;
}

/* Color/shape of close button cross */
.bm-cross {
  background: #bdc3c7;
}

/* General sidebar styles */
.bm-menu {
  background: #000;
  padding: 2.5em 1.5em 0;
  font-size: 1.5rem;
  font-family: "Raleway", sans-serif;
}

/* Morph shape necessary with bubble or elastic */
.bm-morph-shape {
  fill: #373a47;
}

/* Wrapper for item list */
.bm-item-list {
  color: #b8b7ad;
}

/* Styling of overlay */
.bm-overlay {
  background: rgba(0, 0, 0, 0.3);
}
/*# sourceMappingURL=main.css.map */